:root {
    --purple: #6e63a5;
    --purpleClickable: #7a6dcb;
    --lightGrey: #d3d3d3;
    --backgroundGrey: #d4d4d4;
    --mainNavFontHeaderColor: #62420f;
    --headerFont: font-family: 'Macondo', cursive;
}

body {
    align-items: center;
    /* background-image: url(background.jpg); */
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  
  .form {
    background-color: var(--purple);
    border-radius: 20px;
    box-sizing: border-box;
    height: 800px;
    padding: 20px;
    width: 1000px;
  }
  
  .title {
    color: #eee;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
    margin-left: 300px;
  }
  
  .submit {
    background-color: rgb(62, 69, 73);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: rgb(255, 255, 255);
  }


  textarea {
    display:block;
    box-sizing: content-box;
    width: 100%;
    max-height: 50%;
    resize: none;
    overflow-y: hidden;
    
    border: 0;
    outline: 0;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    padding:20px;
    font-weight: bold;
    font-size: 1.4em;
    color: #000000;

  }

  .form_image input{
    position: absolute;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }

  .form_image p{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 170px;
    color: #ffffff;
    font-family: Arial;
  }

  .form_image{
    background: rgba(0,0,0,0.9);
    position: absolute;
    width: 500px;
    height: 200px;
    border: 4px dashed #fff;
  }

  .flex-container{
    margin-top: 50px;
    display: flex;
    flex-direction: row ;
    padding: 20;
    margin-bottom: 200px;
  }

  section .sec1 {
    margin-left: 50px;
    flex-direction: column;
    flex: none;
    position:fixed;
}

  section .sec2 form, .sec2 h2 {
      margin-left: 400px;
  }

  section .button {
      margin-top: 10%;
  }

  section .sec3 {
    margin-top: 250px; 
    margin-left: 400px;
  }

  section .sec3 h1 {
      margin-left: 20%;
  }

  .category {
    cursor: pointer;
    width: 40%;
    padding: .8em;
    border-radius: .3em;
    border: 1px solid gray;
    box-sizing: border-box;

    margin-left: 15%;
  }
  


  