:root {
    --purple: #FE9901;
    --navbarBackground: #EDC862;
    --lightGrey: #d3d3d3;
    --backgroundGrey: #d4d4d4;
    --mainNavFontHeaderColor: #62420f;
    --font: 'Kreon', serif;
}

.containerPerson{
    position: relative;
    height: 400px;
    width: 100%;
    text-align: center;
}

.person{
    background-color: #EDC862;
    position: absolute;
    width: 50%;
    top:0;
}

.personDetails{
    position: relative;
}

.personDetails.left{
    left:0;
}

.personDetails.right{
    right:0;
}

.personDetails.contact{

}