:root {
    --purple: #6e63a5;
    --purpleClickable: #7a6dcb;
    --lightGrey: #d3d3d3;
    --backgroundGrey: #d4d4d4;
    --mainNavFontHeaderColor: #62420f;
    --font: 'Kreon', serif;
}

.purpleBlock{
    z-index: -1;
    position: absolute;
    height: 250px;
    width: 100%;
    background-color: var(--purple);
    margin-top: -20px;
}


.section{
    height: 300px;
    width: 100%;
}

.sectionTitles{
    font-family: var(--font);
    font-size: x-large;
    font-weight: bold;
}

.sectionTitles.outside{
    width: 50%;
    padding-left: 60px;
}

.sectionTitles.inside{
    border-bottom: solid black 1px;
    text-align: left;
}