html {
    font: 'Kreon', serif;
}
.sign_in_options{
    display: flex;
    align-items: center;
}
br{
    display: block;
    margin: 10px 0;
    content: " ";
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
.btn_switch{
    width: 50%;
}
.sign_in_switch_overlay{
    display: flex;
    width: 100%;
    justify-content: center;
}
.sign_in_switch{
    display: flex;
    width: 100%;
    border-style: none;
}
.inset_shadow_button{
    box-shadow: 1px 1px 2px gray inset;
}
.sign_in_switch_right{
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-style: solid;
}
.sign_in_switch_left{
    border-left: none;
    border-top: none;
    border-bottom: none;
}