.section_overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    background-color: transparent;
}
.section_content{
    border-style: solid;
    border-color: gray;
    border-width: 5px;
    padding: 5%
}
#sign_in_footer{
    display: flex;
    columns: 2;
}
.clickable_label:hover{
    color: red;
}

br{
    display: block;
    margin: 10px 0;
}